	.main12top{
		width: 1226px;
		height: 60px;
		/* background: black; */
	}
	.main12bottom{
		display:flex;
	}
	.main12 .left{
		width: 235px;
		height:640px;
		/* background: red; */
	}
	.main12 .right .righttop{
		display:flex;
		justify-content:space-around;
		width: 991px;
		height:320px;
	}
	.main12 .right .rightbottom{
		display:flex;
		justify-content:space-around;
		width: 991px;
		height:320px;
	}
	.main12 ul{
		margin-left:10px;
		width: 235px;
		height: 300px;
		background: white;
		transition:0.5s;
	}
	.main12 .main12bottom .right ul:hover{
		margin-top:-3px;                      /*控制盒子上浮动作*/
		box-shadow:0 10px 10px #c4c4c4;
	}
	/*盒子头部代码控制*/
	.2{
		float:right;
		width: 250px;
		height: 60px;	
	}
	.main12list{
		margin-top:-45px;
	}
	.main12list span{
		margin-left:10px;
		font-size:16px;
		font-family:；
		color:black;
	}
	.main12list span:hover{
		color:#ff6600;
		border-bottom:2px solid #ff6600;
	}
	/*盒子下》》左边控制代码：*/
	.main12 .main12bottom .left div{
		width: 235px;
		height: 310px;
		margin-top:10px;
		transition:0.5s;
	}
	.main12>.main12bottom>.left>.leftlist:hover{
		margin-top:-5px;
		box-shadow:0 10px 10px #c4c4c4;
	}
	/*盒子下》》右》》上控制代码：*/
	.main12bottom .right .righttop .rightlist{
		width: 235px;
		height: 310px;
		margin-top:10px;
		transition:0.5s;
	}
	.main12bottom .right .righttop .rightlist .xinp{
		width: 70px;
		margin:auto;
		background-color: #83c44e;
		font-size:14px;
		color:white;
		text-align:center;
	}
	.main12 .main12bottom .right .righttop .rightlist .pic{
		width: 160px;
		height: 160px;
		margin:auto;
	}
	.main12 .main12bottom .right .righttop .rightlist .center{
		margin-top:20px;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
	}
	.main12 .main12bottom .right .righttop .rightlist .cos{
		margin: 10px 10px 10px;
		height: 18px;
		font-size: 12px;
		text-align: center;
		white-space: nowrap;
		color: #b0b0b0;
	}
	.main12 .main12bottom .right .righttop .rightlist .row{
		text-align: center;
		color: #ff6700;
	}
	/*盒子下》》右》》下控制代码：*/
	.main12bottom .right .rightbottom .rightlist{
		width: 235px;
		height: 310px;
		margin-top:10px;
		transition:0.5s;
	}
	.main12bottom .right .rightbottom .rightlist .xinp{
		width: 70px;
		margin:auto;
		background-color: #e53935;
		font-size:14px;
		color:white;
		text-align:center;
	}
	.main12 .main12bottom .right .rightbottom .rightlist .pic{
		width: 160px;
		height: 160px;
		margin:auto;
	}
	.main12 .main12bottom .right .rightbottom .rightlist .center{
		margin-top:20px;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
	}
	.main12 .main12bottom .right .rightbottom .rightlist .cos{
		margin: 0 10px 10px;
		height: 18px;
		font-size: 12px;
		text-align: center;
		white-space: nowrap;
		color: #b0b0b0;
	}
	.main12 .main12bottom .right .rightbottom .rightlist .row{
		text-align: center;
		color: #ff6700;
	}